@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css?family=Poppins:400,500");

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --bumble-yellow: #ffc629;
  --situational-ivory: #fffff9;
  --shadow: rgba(0, 0, 0, 0.2);
  --banana: #f3efa1;
  --lemon: #fdda64;
  --bumble-black: #1d252c;
  --plum: #572a31;
  --bff-blue: #009abf;
  --bez: cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

* {
  font-family: "Poppins", sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  background-color: var(--bumble-yellow);
  overflow: auto !important;
}

.card {
  margin: 2rem;
  transition: all 200ms var(--bez);
  background: var(--situational-ivory);
  border-radius: 1rem;
  box-shadow: 0px 30px 20px -10px var(--shadow);
  max-width: 300px;
  display: flex;
  flex-direction: column;
}
.btmCard {
  margin: 2rem;
  transition: all 200ms var(--bez);
  background: var(--situational-ivory);
  border-radius: 0.5rem;
  box-shadow: 0px 30px 20px -10px var(--shadow);
  max-width: 100%;
  padding: 2px;
  display: flex;
  flex-direction: column;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

.slide-in {
  animation: slideIn 0.5s ease-in-out forwards;
}

.slide-out {
  opacity: 0;
  animation: slideOut 0.5s ease-in-out forwards, fadeOut 2s ease-in-out forwards;
}

@keyframes slideIn {
  from {
    transform: translateY(-150%);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes slideOut {
  from {
    transform: translateY(0%);
  }
  to {
    transform: translateY(-150%);
  }
}

@keyframes fadeOut {
  0% {
    transform: opacity(1);
  }
  50% {
    transform: opacity(0.5);
  }
  100% {
    transform: opacity(0);
  }
}

.word-cloud-container {
  /* position: relative; */
  overflow: hidden;
}

.word-cloud-word {
  position: absolute;
  font-family: Arial, sans-serif;
  color: blue; /* Warna teks */
}
